<div id="<%= dom_id event %>">
  <p>
    <strong>Date:</strong>
    <%= event.date %>
  </p>

  <p>
    <strong>Miles:</strong>
    <%= event.miles %>
  </p>

  <p>
    <strong>Hours:</strong>
    <%= event.hours %>
  </p>

  <p>
    <strong>Minutes:</strong>
    <%= event.minutes %>
  </p>

  <p>
    <strong>Shoe:</strong>
    <%= event.shoe %>
  </p>

  <p>
   <strong> Time per mile: </strong>
   <%= @event.mile_time %> 
  </p> 
  
</div>
